body {
    background-color: #0a192f;
    font-family: 'Arial', sans-serif;
    color: #ccd6f6;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.project-details {
    background-color: #172a45;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.project-details h2 {
    color: #64ffda;
}
.project-details p {
    color: #ccd6f6;
}

button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #64ffda;
        color: #0a192f;
        cursor: pointer;
    }

    button:hover {
        background-color: #ccd6f6;
        color: #0a192f;
    }